body
{
   font-family: 'Century Gothic';
   background-color: dodgerblue;
}

.navbar
{
  background-color: #333;
  padding: 2ex;
  text-align: center;
  font-weight: 900;
  
}
.navbar a
{
    padding: 20px;
    text-decoration: none;
    color: white;

}

.navbar a:hover {
    background-color: dodgerblue;
    color: white;
  }

.welcome
{
 color: white;
 padding: 10ex;
 text-align: center;
}
