body {
  margin: 0;
  padding: 0;
  font-family: 'Century Gothic';
}

.navbar,
.footer {
  background-color: #333;
  padding: 1.5rem;
  text-align: center;
  font-weight: 900;
  color: white;
}

.navbar a,
.footer a {
  padding: 15px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  background-color: dodgerblue;
  color: white;
}

.footer a:hover {
  color: dodgerblue;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
}
.grid
{
  color: white;
  text-align: center;
}

.grid1 {
  color: white;
  width: 100%;
  height: 500px;
}

.About {
  color: white;
  width: 100%;
  height: 400px;
  padding-top: 90px;
  text-align: center;
  background-color: #333;
}

.Portfolio {
  color: white;
  padding: 10ex;
  text-align: center;
  background-color: dodgerblue;
}

.container {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  background-color: #333;
  height: 350px;
  width: 50%;
  padding: 40px;
  border-radius: 15px;
  margin: 20px;
}

.item:hover {
  background-color: white;
  color: #333;
  transform: scale(1.12);
}