body
{
    font-family: Montserrat;
    text-align: center;
    margin-top: 100px;
    background-color: rgb(28, 28, 28);
    color: white;
}

input
{
    background-color: rgb(125, 125, 125);
    color: white;
    padding: 10px;
    width: 50px;
    text-align: center;  
    border: none;  
    border-radius: 4px;
}

input:hover
{
    color: black;
    background-color: lightgray;
}

p
{
    font-size: 10px;
    font-family: verdana;
}

footer
{
    margin-top: 40px;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}