body
{
    font-family: Montserrat;
    text-align: center;
    margin-top: 100px;
    background-color: rgb(28, 28, 28);
    color: white;
}

.button
{
    background-color: rgb(125, 125, 125);
    color: white;
    padding: 10px;
    width: 50px;
    text-align: center;  
    border: none;  
    border-radius: 4px;
}

.button:hover , .clear:hover
{
    color: black;
    background-color: lightgray;
}

p
{
    font-size: 10px;
}

table
{
   padding-top: 5px;
}

.heading
{
    padding-bottom: 10px;
}

.clear
{
    background-color: rgb(125, 125, 125);
    color: white;
    padding: 12px;
    width: 212px;
    text-align: center;  
    border: none;  
    border-radius: 4px;
}

.output
{
    background-color: white;
    padding: 22px;
    border-radius: 5px;
    border: none;
    color: black;

}

footer
{
    margin-top: 40px;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}
